<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
<html>
<head>
    <title>Freemarker简单Servlet消息</title>
</head>
<body>

<h1>下面是Servlet传过来的信息</h1>
<#-- list数据 -->
    <h4>作者列表</h4>
    <ul>
        <#list authors as author>
            <li>${author}</li>
        </#list>
    </ul>
    <#-- map数据 -->
        <h4>管理员最后登录时间列表</h4>
        <table cellpadding="1" border='1' cellspacing="1">
            <tr>
                <th width='120' align='center'>用户名</th>
                <th width='200' align='center'>最后登录时间</th>
            </tr>
            <#list viewLogs?keys as record>
                <tr>
                    <td>${record}</td>
                    <td align='center'>${viewLogs[record]}</td>
                </tr>
            </#list>
        </table>
</body>
</html>