<#compress>
	<#assign path="${basePath}">
	<#include "/common/bootstrapstatic.ftl" >
	<#include "/common/basepagestatic.ftl" >
	<#include "/common/basepage.ftl" >
	<#include "/common/datatablestatic.ftl" >
	<#include "/common/navbar.ftl" >
	<#include "/common/sidebar.ftl" >
	<#include "content.ftl" >
	<@htmlHead title="文件夹 ">
	</@htmlHead>
	<@bootstrapstatic>
	</@bootstrapstatic>
	<@basepagestatic>
	</@basepagestatic>
	<@datatablestatic>
	</@datatablestatic>
	<@htmlBody>
		<@sidebar>
		</@sidebar>
		<@navbar>
		</@navbar>
		<@content>		
		</@content>
	</@htmlBody>
</#compress>