<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="spectrum-web" version="3.1">
	<display-name>spectrum-web</display-name>

	<!-- 首页顺序 -->
	<welcome-file-list>
		<welcome-file>view/login.do</welcome-file>
	</welcome-file-list>

	<!-- MVC 核心控制器 -->
	<servlet>
		<servlet-name>spring-mvc</servlet-name>
		<servlet-class>bluedot.spectrum.web.core.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>application.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>spring-mvc</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<!-- 编码拦截器 -->
	<filter>
		<filter-name>CharsetEncodingFilter</filter-name>
		<filter-class>bluedot.spectrum.web.filter.CharsetEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharsetEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 文件上传拦截器 -->
	<filter>
		<filter-name>StreamHttpServletRequestWrapperFilter</filter-name>
		<filter-class>bluedot.spectrum.web.filter.wrapper.StreamHttpServletRequestWrapperFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>StreamHttpServletRequestWrapperFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 权限拦截器 -->
	<filter>
		<filter-name>PermissionFilter</filter-name>
		<filter-class>bluedot.spectrum.web.filter.PermissionFilter</filter-class>
		<init-param>
			<param-name>includeStrings</param-name>
			<param-value>.do</param-value>
		</init-param>
		<init-param>
			<param-name>redirectPath</param-name>
			<param-value>/WEB-INF/pages/templates/login/login.html</param-value>
		</init-param>
		<init-param>
			<param-name>disabletestfilter</param-name>
			<param-value>Y</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>PermissionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 阿里连接池配置 -->
	<servlet>
		<servlet-name>DruidStatView</servlet-name>
		<servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
		<!-- 只允许内网访问 -->
		<init-param>
			<param-name>allow</param-name>
			<param-value>127.0.0.1,192.168.1.1/24</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>DruidStatView</servlet-name>
		<url-pattern>/druid/*</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>DruidWebStatFilter</filter-name>
		<filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>
		<init-param>
			<param-name>exclusions</param-name>
			<param-value>*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>DruidWebStatFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Session 配置30分钟过期 -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
</web-app>
